{{#each surveys as |survey|}}
<!-- {{#if (eq survey.id userID)}} -->
<!-- <h1> {{userID.id}} </h1> -->
  <div class="card" data-id="{{survey._id}}">
    <div class="card-body">
       <h5 class="card-title">{{survey.question}}</h5>

       <!-- <p class="card-text">{{habit.streak}}</p> -->
       <form class="answer">
         <input type="radio" name="answer" value="yes" class="response_yes"> Yes<br>
         <input type="radio" name="answer" value="no" class="response_no"> No<br>
         <button type="click" class="survey-response btn-primary" data-id="{{survey._id}}" data-question="{{survey.question}}" data-yes="{{survey.yes}}" data-no="{{survey.no}}">Submit</button>
       </form>
    </div>
  </div>
  <!-- {{/if}} -->
  {{/each}}
